<footer class="footer">
    <div class="container footer-text-container">
        <div>
          <p><%= link_to "Aus-Bitcoin-Marketplace", root_path %></p>
        </div>
        <div>
          <p><%= link_to "Buy Bitcoin", listings_path %></p>
        </div>
        <div class="footer-sm-links">
          <a href="https://twitter.com/hughgreethead">Twitter</a>
          <a href="https://www.linkedin.com/in/hugh-greethead/">Linkedin</a>
          <a href="https://github.com/HughG-50">Github</a>
        </div>
    </div>
</footer>